body {
  //background-color: #fde9c3;
  background-image: url("../public/vectorBg.png");
  background-size: 100%;
}
nav {
  background-color: #fde0c3;
  font-family: "Lilita One";
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 75px;
}
nav h1 {
  font-size: 36px;
  color: #6e542b;
}
nav h3 {
  margin: auto 3rem;
  color: #6e542b;
}
nav h3:hover, nav h1:hover {
  color: #3e240b;
}
nav div {
  display:none;
}
@media screen and (max-width: 768px){
  nav {
    display:block;
    height: 100px;
    padding: 1rem;

  }
  nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav div * {
    display: inline;
  }
}
