* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-width: 100%;
}
ul,
li {
  list-style: none;
  list-style-type: none;
  display: block;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
button {
  cursor: pointer;
  background-color: none;
  outline: none;
  border: none;
}
